@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

/* Botones generales */
.btn {
  background-color: #006400; /* Verde oscuro */
  color: gold;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 2px solid gold;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #228B22; /* Verde más claro al pasar el mouse */
  transform: scale(1.05);
}

/* Botón especial para "Salir" */
.btn-exit {
  background-color: black;
  color: gold;
  border: 2px solid gold;
}

.btn-exit:hover {
  background-color: #333;
}
